.section1{background: url("img/a.jpg") 50% }
.section2{background: url("img/b.jpg") 50%}
.section3 {background: url("img/c.jpg") 50%}
.section4{background: url("img/e.jpg") 50%}
.section5{background: url("img/v.jpg") 50%}
.section6{background: url("img/w.jpg") 50%}
.section7{background: url("img/x.jpg") 50%}

p{
    position: absolute;
    left:600px;
    top:2px;
    color: red;
    font-size: 60px;
}
.section{position: relative;}
.section img{width: 200px;height: auto}
.section img:nth-child(1){
    position: absolute;
    top:30px;
    left:40px;
    tranform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
}
.section img:nth-child(2){
    position: absolute;
    top:100px;
    left:380px;
    tranform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
}
.section img:nth-child(3){
    position: absolute;
    top:60px;
    right: 200px;
    tranform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}
.section img:nth-child(4){
    position: absolute;
    top: 40%;
    left:50%;
    tranform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
.section img:nth-child(5){
    position: absolute;
    top:300px;
    left:50px;
    tranform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}
.section img:nth-child(6){
    position: absolute;
    top:300px;
    right:80px;
    tranform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}
.section img:nth-child(7){
    position: absolute;
    bottom:60px;
    left:300px;
    tranform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.section img:nth-child(8){
    position: absolute;
    bottom:50px;
    right: 200px;
    tranform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}
.section img{
	transition: all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out
	-moz-transition: all 1s ease-in-out; /* Firefox 4 */
	-webkit-transition: all 1s ease-in-out; /* Safari ºÍ Chrome */
	-o-transition: all 1s ease-in-out; /* Opera */
}

.section img:hover{
	-ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
}
}